@import '../../../utils/colors.scss';

.admin-voucher__container {
    background-color: $bkgPage;
    padding: 20px 40px;

    .admin-voucher__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 15px;
        background-color: $white;
        box-shadow: $boxShadow;
        border-radius: 8px;
    }
}