@import '../../../utils/colors.scss';

.container_register {
  position: relative;
  background-image: url('../../../assets/register.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container_register {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title_register {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $title;
}

.form_container_register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_register {
  width: 100%;
}

.input_container_register {
  margin-bottom: 20px;
}

.input_container_register label {
  display: block;
  margin-bottom: 8px;
  color: $title;
  font-weight: 700;
  font-size: 18px;
}

.input_container_register input {
  width: 100%;
  padding: 8px 14px;
  background-color: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid $gray;
}

.password {
  position: relative;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    box-sizing: border-box;
    position: absolute;
    top: 58%;
    right: 3%;

    &:hover {
      cursor: pointer;
    }
  }
}


.link_container_authorlogin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_button {
  background: none;
  border: none;
  color: $primary600;
  cursor: pointer;
  padding: 0 0 0 10px;
  font: inherit;

  &:hover {
    text-decoration: underline;
    color: $thirdaryDefault;
  }
}


.submit_button_signup {
  width: 65%;
  padding: 10px;
  margin-left: 60px;
  background-color: $primaryDefault;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  font-size: 16px;
}

.submit_button_signup:hover {
  cursor: pointer;
  background-color: $secondaryDefault;
}

.submit_button_signup:disabled {
  cursor: default;
  background-color: $bgDisabled;
  border: 1px solid $thirdaryDefault;
  color: $thirdaryDefault;
  font-weight: normal;
}