@import '../../../utils/colors.scss';

.admin-account__container {
    background-color: $bkgPage;
    padding: 20px 40px;

    .admin-account__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 15px;
        background-color: $white;
        box-shadow: $boxShadow;
        border-radius: 8px;
    }
}