@import '../../../utils/colors.scss';

.container_resetpassword {
  background-image: url('../../../assets/verifypassword.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}


.main_container_resetpassword {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: $boxShadow;
  border-radius: 8px;
}

.title_resetpassword {
  color: $title;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.title_attention_resetpassword {
  text-align: center;
  font-size: 14px;
  width: 355px;
  margin-bottom: 30px;
  font-weight: 570;
  color: $black;
}

.form_container_resetpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_resetpassword {
  width: 100%;
}

.input_container_resetpassword {
  margin-bottom: 40px;
}

.input_container_resetpassword label {
  display: block;
  margin-bottom: 8px;
  color: $title;
  font-weight: 700;
  font-size: 18px;
}

.input_container_resetpassword input {
  width: 100%;
  padding: 8px 14px;
  background-color: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid $gray;
}

.password {
  position: relative;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    box-sizing: border-box;
    position: absolute;
    top: 58%;
    right: 3%;

    &:hover {
      cursor: pointer;
    }
  }
}

.confirm_button_resetpassword {
  width: 65%;
  padding: 10px;
  margin-left: 60px;
  background-color: $primaryDefault;
  color: #ffffff;
  border: none;
  font-weight: 700;
  border-radius: 40px;
  font-size: 16px;
}

.confirm_button_resetpassword:hover {
  cursor: pointer;
  background-color: $secondaryDefault;
}

.confirm_button_resetpassword:disabled {
  cursor: default;
  background-color: $bgDisabled;
  border: 1px solid $thirdaryDefault;
  color: $thirdaryDefault;
  font-weight: normal;
}