$primaryDefault: #00A5F5;
$primary600: #0085d4;
$secondaryDefault: #028AE0;
$thirdaryDefault: #0270C7;
$white: #FFFFFF;
$black: #000000;
$title: #042f4d;
$gray: #A9A9A9;
$textLink: #3A73E7;
$buttonSecondary: #F14542;
$buttonSecondaryHover: #de2724;
$bgDisabled: #f0f9ff;
$textDisabled: #36b8fa;
$statusPrimary: #11D749;
$statusSecondary: #FFA500;
$bkgPage: #F0F2F5;
$boxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$boxShadowHover: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$bgTitle: #EEF5FF;