@import '../../../../utils/colors.scss';

.admin-hotel-infor__container {
    background-color: $bkgPage;
    padding: 20px 40px;

    .admin-hotel-infor__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 15px;
        background-color: $white;
        box-shadow: $boxShadow;
        border-radius: 8px;
    }
}